@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ovo&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";



@theme {
    --font-outfit: 'Outfit', sans-serif;
    --font-ovo: 'Ovo' , serif;
}

::selection{
    background: #202020;
    color: #fff;
}

::-webkit-selection{
    background: #000;
    color: #fff;
}

::-moz-selection{
    background: #000;
    color: #fff;
}
