---
import Button from "../../ui/button.astro";
---
<section class="relative">
    <div class="container mx-auto px-6 py-20">
      <div class="max-w-3xl">
        <span class="text-sm uppercase tracking-widest text-gray-700 font-medium font-outfit">
          Blog
        </span>
  
        <h1 class="mt-4 text-4xl md:text-6xl font-medium leading-tight text-gray-900 font-ovo">
          Writing About  
          Things That Matter
        </h1>
  
        <p class="mt-6 text-md text-gray-600 leading-relaxed font-medium font-ovo">
          Practical insights on development, design, and building products without
          wasting time on hype or trends.
        </p>
  
        <div class="mt-8 flex gap-4">
         <Button title="Read Posts" bgColor="bg-black" textColor="text-white" href="/blogs" />
         <Button title="About" bgColor="bg-transparent" textColor="text-gray-800" href="/about" />
        </div>
      </div>
    </div>
  </section>
  