<footer>
    <div class="container mx-auto">
        <hr class="my-4 border-gray-300 w-3/4 mx-auto">
        <div class="flex justify-between items-center">
            <p class="text-sm font-medium font-ovo tracking-wide text-gray-700">© 2025 JAIN. All rights reserved.</p>
            <p class="text-sm font-medium font-ovo tracking-wide text-gray-700">Designed by <a href="https://www.linkedin.com/in/jain-kumar-b6253a200/" class="text-blue-500">Jain shah</a></p>
        </div>
    </div>
</footer>