---
import {User , ArrowLeft , ArrowRight , ArrowUp , ArrowDown} from '@lucide/astro'
 ---
<div id="container">
	<h1 class="text-4xl font-outfit font-bold">Welcome to Astro</h1>
	<h1 class="text-4xl font-ovo">Welcome to this is theme font </h1>
	<User class="w-10 h-10" />
	<ArrowLeft class="w-10 h-10" />
	<ArrowRight class="w-10 h-10" />
	<ArrowUp class="w-10 h-10" />
	<ArrowDown class="w-10 h-10" />
	</div>
