---
   import { Image } from "astro:assets";
   import profileImg from "../../../assets/profile-img.png";
   import Button from "../../ui/button.astro";
---

<section class="h-svh">
    <div class="mt-12 text-center  p-2">
        <div class="w-28 rounded-full overflow-hidden mx-auto ">
            <Image src={profileImg} alt="profile" class="w-full h-full object-cover">
        </div>
        <p class="text-lg tracking-wider font-medium font-ovo mt-2 ">Hi! I'm John Doe</p>
        <div class="text-center my-4">
            <h1 class="font-ovo font-medium text-6xl tracking-wide">frontend web develper <br> based in DG khan.</h1>
        <p class="text-sm text-gray-800 tracking-wide font-medium font-ovo mt-4">I'm a frontend web developer from pakistan, with 5+ years of experience <br> in companies like Google , Facebook , Apple  etc.</p>
        </div>
        <div class="flex items-center justify-center gap-x-4 cursor-pointer mt-8 ">
            <Button title="Contact" bgColor="bg-black" textColor="text-white" />
            <Button title="My Resume" bgColor="transparent" textColor="text-gray-900" downloadIcon="true"/>
        </div>
    </div>
</section>