---
import { Image } from "astro:assets";
import userImage from "../../../assets/user-image.png";
import Card from "../../ui/card.astro";
---
<section class="container mx-auto py-12 ">
    <div class="text-center">
        <p class="text-md mb-1.5  tracking-wide font-medium font-ovo">Introduction</p>
        <h2 class="text-4xl font-semibold font-ovo tracking-wide">About Me</h2>
    </div>
    <div class="grid grid-cols-2 gap-x-2 py-12">
        <div class="h-96 p-4">
            <Image src={userImage} alt="profile" class="w-full h-full object-contain">
        </div>
        <div class="p-2">
            <p class="text-md text-gray-800 tracking-wide font-medium font-ovo">Professional software developer with hands-on experience in building modern web applications using React, Astro, and headless CMS solutions like Strapi.
                Skilled in integrating APIs, managing databases, and developing clean, scalable front-end and back-end features.</p>
            <div class="grid grid-cols-3 gap-x-6 mt-10">
                <Card title="Languages" description="JavaScript, React,React-router v7, Astro, Tailwind CSS, C++" icon="code" />
                <Card title="Education" description="Bachelor of Science in Information Technology, 2022-2026" icon="education" />
                <Card title="Projects" description="Youtube Clone, Portfolio Website, Hotel management system" icon="project" />
            </div>
        </div>
    </div>
</section>