---
import ServiceCard from '../../ui/service-card.astro';
---

<section class="container mx-auto py-12 ">
    <div class="text-center">
        <p class="text-md mb-1.5  tracking-wide font-medium font-ovo">What I offer</p>
        <h2 class="text-4xl font-semibold font-ovo tracking-wide">My Services</h2>
        <p class="text-sm text-gray-700 font-medium tracking-wide font-ovo mt-4">I offer services to clients, as well as a software developer from pakistan, with 5+ years of experience <br> in companies like Google , Facebook , Apple  etc.</p>
    </div>
    <div class="grid grid-cols-4 gap-x-8 py-12">
        <ServiceCard title="Mobile App" description="A mobile app developer, with 1+ years of experience ..." icons="android"/>
        <ServiceCard title="Web Development" description="A web developer, with 5+ years of experience ..." icons="globe"/>
       <ServiceCard title="UI/UX Design" description="A UI/UX designer, with 5+ years of experience ..." icons="picture"/>
       <ServiceCard title="SEO Optimization" description="A SEO expert, with 5+ years of experience ..." icons="search"/>
    </div>
</section>