---
import { GlobeIcon , ArrowRightIcon , SmartphoneIcon , ImageIcon , SearchIcon } from '@lucide/astro';
const { title, description , icons , linkIcon , linkText , linkHref } = Astro.props;

const iconMap = {
    SmartphoneIcon: SmartphoneIcon,
    GlobeIcon: GlobeIcon,
    ImageIcon: ImageIcon,
    SearchIcon: SearchIcon,
};

const Icon = iconMap[icons as keyof typeof iconMap] ;

const linkIconMap = {
    ArrowRightIcon: ArrowRightIcon,
}

const LinkIcon = linkIconMap[linkIcon as keyof typeof linkIconMap] ;
---
<article class="p-6 border border-gray-300 rounded-md shadow-sm ">
    {Icon && <Icon class="w-9 h-9 border border-gray-400/10 bg-black/80 rounded-md p-1 text-white my-5.5" />}
    <p class="text-lg font-semibold text-gray-700 tracking-wider font-outfit mb-3">{title}</p>
    <p class="text-sm text-gray-600  font-ovo mb-6">{description}</p>
    <div class="flex items-center gap-x-1.5 my-2 cursor-pointer ">
        <a href={linkHref} class="text-lg font-medium font-ovo tracking-wide text-gray-800 hover:text-black ">{linkText}</a>
        {LinkIcon && <LinkIcon class="w-4.5 h-4.5 text-gray-600" />}
    </div>
</article>