---
import { GlobeIcon , ArrowRightIcon , SmartphoneIcon , ImageIcon , SearchIcon } from '@lucide/astro';
const { title, description , icons } = Astro.props;

const iconMap = {
    android: SmartphoneIcon,
    globe: GlobeIcon,
    picture: ImageIcon,
    search: SearchIcon,
};

const Icon = iconMap[icons as keyof typeof iconMap] ;
---
<div class="p-6 border border-gray-300 rounded-md shadow-sm ">
    {Icon && <Icon class="w-9 h-9 border border-gray-400/10 bg-black/80 rounded-md p-1 text-white my-5.5" />}
    <p class="text-lg font-semibold text-gray-700 tracking-wider font-outfit mb-3">{title}</p>
    <p class="text-sm text-gray-600  font-ovo mb-6">{description}</p>
    <div class="flex items-center gap-x-1.5 my-2 cursor-pointer ">
        <p class="text-lg font-medium font-ovo tracking-wide text-gray-800 hover:text-black ">Read More</p>
        <ArrowRightIcon class="w-4.5 h-4.5 text-gray-600" />
    </div>
</div>