---
import { GlobeIcon , ArrowRightIcon , SmartphoneIcon , ImageIcon , SearchIcon } from '@lucide/astro';
const { title, description , icons  , linkText , linkHref } = Astro.props;

const iconMap = {
    SmartphoneIcon: SmartphoneIcon,
    GlobeIcon: GlobeIcon,
    ImageIcon: ImageIcon,
    SearchIcon: SearchIcon,
};

const Icon = iconMap[icons as keyof typeof iconMap] ;

---


<article class="p-8 border border-gray-100 rounded-3xl hover:shadow-xl transition-all duration-300 hover:-translate-y-1 bg-white">

    <!-- Icon container -->
    <div class="w-12 h-12 bg-gray-50 rounded-xl mb-6 flex items-center justify-center">
      {Icon && <Icon class="w-6 h-6 text-gray-700" />}
    </div>
  
    <!-- Title -->
    <h3 class="text-xl font-bold mb-2 text-gray-800">
      {title}
    </h3>
  
    <!-- Description -->
    <p class="text-gray-600 text-sm leading-relaxed mb-6">
      {description}
    </p>
  
    <!-- Link -->
    <a href={linkHref} class="text-sm font-semibold group flex items-center gap-2 text-gray-800">
      {linkText}
      <ArrowRightIcon class="w-4 h-4 text-gray-600 group-hover:translate-x-1 transition-transform" />
    </a>
  
  </article>
  