---
interface Props {
    name: string;
    level: number;
}

const { name, level } = Astro.props;
---

<div class="space-y-2">
    <div class="flex justify-between text-xs md:text-sm">
      <span class="font-semibold text-gray-800 font-outfit tracking-wide">
        {name}
      </span>
      <span class="text-gray-500 font-medium font-ovo">
        {level}%
      </span>
    </div>
  
    <div class="w-full bg-gray-100 rounded-full h-1.5 overflow-hidden">
      <div 
        class="bg-gray-900 h-full rounded-full transition-all duration-500"
        style={`width: ${level}%`}
      ></div>
    </div>
  </div>
  
